@font-face {
		font-family: 'Sucrose Bold Two';
		src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2') format('woff2');
		}
@font-face {
    font-family: 'IM Fell French Canon Pro';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2') format('woff2');
}

@font-face {
font-family: 'BravoRG';  
src: url("../fonts/BravoRG.otf") format("opentype"); 
font-style: normal; 
font-weight: normal;
 }
 
* {
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("../img/background_part.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header 
{
/*	padding-top: 10%;*/
	background-size: cover;
  font-family: 'BravoRG';
  height: 20rem;
}
header img {
	position: absolute;
	top: 0;
	right: 0;
	width: 45.8%;
}
header h1 {
	position: fixed;
/*	top: 2rem;
	right: 2rem;*/
  font-size: 12vw;
  line-height: .8;
  margin-top: 3rem;
  margin-left: 3rem;
  text-align: center;
  color: #ffffff;
}
header h1 span {
  display: block;
  font-size: 8.75vw;
}
main {
  background: #fff;
/*  position: relative;
  border: 1px solid #fff;*/
  font-family: 'BravoRG', 'IM Fell French Canon Pro';
  font-size: 1.7rem;
  line-height: 1.6;
  /*margin-block-start: 6rem;*/
  padding-inline: 10%;
}

@media all and (max-width: 400px) {
  main { padding: 2rem; }
}


.rightcolumn {
  float: left;
  width: 25%;
  background: #fff;
  padding-left: 20px;
}

.leftcolumn {
  float: left;
  width: 75%;
  height: 20%
}

.leftcolumn .form {
  height: 10em;
}

.success {
    font-family: 'IM Fell French Canon Pro';
    font-size: 3rem;
    line-height: 3;
    padding: 2rem 25%;
}

.inline { 
    display: inline-block; 
    border-block-end: 1px solid red;
    margin:5.4rem;
    }
	
.inline-no-border { 
    display: inline-block; 
    margin:5.4rem;
	padding-inline: 1.5rem;
    }

form {
  display: flex;
  flex-wrap: wrap;
  margin-block: 3rem;
}

input {
  border: none;
  background: hsl(0 0% 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;
  margin: .75rem .1rem .75rem 1rem;
}

select {
      font-family: 'BravoRG', 'IM Fell French Canon Pro';
      font-size: 1.2rem;
}

[type="text"] {
    width: 20rem;
  }

[type="submit"] {
    background:#130c07;
    color:white;
    box-shadow: 0 .75rem .5rem -.5rem hsl(199deg 18% 20%)
  }
  
  @import url('https://fonts.googleapis.com/css?family=Oswald:500');
.back{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 30%;
  background: url("../img/background_part.jpg") no-repeat;
  background-size:cover;
}
.thx{
  position: fixed;
  left:50%;
  transform:translateX(-50%);
  bottom: 15px;
}
nav{
  width: 100%;
  position: fixed;
  text-align:center;
}
nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:600;
  text-transform:uppercase;
  text-decoration:none;
  color:antiquewhite;;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#16151b;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
 
}

